html {
    text-align: center;
}
body {
    background: linear-gradient( 90deg,
        rgba(0, 0, 0, .3) 50%, rgba(255,255,255, .4) 50%);
    background-size: 7em 7em;
    background-color: rgb(180, 250, 180);
}

nav {
    display: inline-block;
    background: rgb(200, 250, 210);
    width: 60%;
}

nav > ul {
    padding: 2rem;
}

nav > ul > li {
    border: black;
}

h1 {
    font-weight: bold;
    font-size: 60px;
}

p {
    margin-bottom: 30px;
    opacity: 0.7;
}

form {
    background: rgb(200, 250, 210);
    display: inline-block;
    border: 3px solid black;
    width: 62%;
}

.radiobutton > input[type="radio"] {
    display: none;
}
.radiobutton > label {
    justify-content: center;
    position: relative;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    margin: 3px;
    align-items: center;
}

.radiobutton input[type="radio"]:checked + label{
    background-color: rgb(140, 255, 140);
    font-weight: bold;
}

#feedback {
    width: 70%;
    height: 200px;
}

#slideContainer {
    width: 70%;
    display: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: rgb(140, 255, 140);
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}